canvas#gameboard {
    aspect-ratio: 1/1;
    max-width: 50vw;
    max-height: 75vh;
}

div.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 1rem;
}

main {
    min-width: auto !important;
}

.rules, .cardsAndPoints {
    flex: 1;
    width: 100%;

    min-width: 0 !important;
}

div.userdata {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    margin: 1rem;
}

div.userdata > span {
    text-align: center;
    align-self: center;
}

img#profilePicture {
    height: 4rem;

    clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}

img#imgHolder {
    height: 5rem;
    background-color: black;

    clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}
