html {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: url("https://picsum.photos/id/507/1920/1080") no-repeat center center fixed;
    color: #222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    min-width: 40rem;
    min-height: 5rem;

    padding: 1rem 2rem;

    border-radius: 2rem;

    background: #ffffff66;
    backdrop-filter: blur(0.5rem);

    box-shadow: inset 0 0 0.5rem 0 #00000088;
}

* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

a.a-button, a.a-button:visited, input[type="submit"] {
    display: block;
    padding: 1rem 2rem;
    margin: 0;

    min-width: 10rem;
    height: fit-content;
    font-family: inherit;
    font-size: inherit;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background-color: #007bff;

    border: none;
    border-radius: 1rem;

    transition: background-color 0.1s ease-in-out;

    cursor: pointer;
}

a.a-button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

.submit-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;

    width: 100%;
    height: fit-content;
    font-family: inherit;
    font-size: inherit;

    text-align: center;

    color: #222;
    background-color: #ffffff;

    border: none;
    border-radius: 1rem;

    transition: background-color 0.1s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    background-color: #f0f0f0;
}

.message {
    display: block;
    position: absolute;

    top: 1rem;
    right: 1rem;

    padding: 0.5rem 1rem;
    margin: 0;

    color: #fff;
    background-color: #444;

    border-radius: 1rem;

    box-shadow: inset 0 0 0.5rem 0 #00000088;
}

.error {
    background-color: #dc3545;
}

.info {
    background-color: #17a2b8;
}